@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');

.App-header {
  position: relative;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'IBM Plex Mono', monospace;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-comp {
  position: absolute;
  left: 95px;
  top: 120px;
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .home-comp{
    position: absolute;
    left: 10px;
    top: 100px;
    width: 60%;  
  }
}

.home-hack {
  position: absolute;
  right: 95px;
  top: 110px;
  width: 20%;
}

@media only screen and (max-width: 600px) {
.home-hack {
  position: absolute;
  right: 25px;  
  top: 100px;
  width: 28%;
  }
}

.timer {
  display: flex;
  position: relative;
  z-index:2;
  top:100px;
}

.timer div {
  padding: 12px;
}

.timer div p {
  font-size: 40px;
  margin-bottom: 0;
}


.home-glitch {
  position: relative;
  top: 20px;
  width: 850px;
}

@media only screen and (max-width: 600px) {
  .home-glitch {
    position: relative;
    left: 10px;
    top: 100px;
    width: 500px;  
  }
}

.coming {
  position: absolute;
  top: 100px;
}

.App-header img {
  max-width: 45%;
  height: auto; 
}

.floating-icons {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.floating-icons div {
  width: 20px; 
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #111111;
  color: white;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.floating-icons div:hover {
  background-color: #333333;
}

.floating-icons div:hover {
  background-color: #333333;
}

.floating-icons-right {
  position: fixed;
  top: 50%;
  right: 20px; 
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.floating-icons-right div {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #111111;
  color: white;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.floating-icons-right div:hover {
  background-color: #333333;
}

.sponsors-container {
  background-color: #000000;
  color: white;
  font-family: 'IBM Plex Mono';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.sponsors-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sponsors-content div {
  text-align: center;
  margin-bottom: 20px;
}

.sponsors-content img {
  max-width: 40%; 
  height: auto; 
}

.contact-footer {
  background-color: #000000;
  color: white;
  padding: 7px;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
}

.contact-names {
  display: flex;
  color: white;
  justify-content: space-around;
  font-family: 'IBM Plex Mono', monospace;
}

.contact-name {
  text-align: center; 
  color: white;
}

.about-container {
  background-color: #000000;
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  font-family: 'IBM Plex Mono', monospace;
}

.about-content {
  max-width: 800px;
  margin-right: 150px;
  font-family: 'IBM Plex Mono', monospace;
  
}

.about-tracker {
  height: auto;
  display: block;
}

.about-tracker img { 
  max-width: 45%; 
  height: auto;   
  display: block; 
  margin-left:60px;
}


.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
}